<li>
    <div class="comments-box d-flex">
        <div class="comments-avatar mr-10">
            <img src="assets/imgs/user/user-01.png" alt="">
        </div>
        <div class="comments-text">
            <div class="comments-top d-sm-flex align-items-start justify-content-between mb-5">
                <div class="avatar-name">
                    <h5>{%PRODUCT_REVIEW_NAME%}</h5>
                    <div class="comments-date">
                        <span>{%PRODUCT_DATE%}</span>
                    </div>
                </div>
                <div class="user-rating">
                    <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
            <p>{%PRODUCT_REVIEW_COMMENT%}</p>
        </div>
    </div>
</li>