<div class="swiper-slide">
    <div class="banner-item-4 d-flex align-items-center">
        <div class="container">
            <div class="row g-5 align-self-center">
                <div class="col-xxl-6 col-lg-6">
                    <div class="banner-content-4 grocery__content">
                        <span>{%HOME_BANNER_SUB_TITLE%}</span>
                        <h2 class="banner-title-4">{%HOME_BANNER_TITLE%}</h2>
                        <div class="banner-btn-wrapper grocery__btn-group mt-50">
                            <a class="solid-btn" href="grocery-grocery-product.html">Buy Now<span><i
                                        class="fa-regular fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <div class="banner-thumb-wrapper-4 p-relative">
                        <div class="banner-thumb-4">
                            <img src="{%HOME_BANNER_BIG_IMAGE%}" alt="image">
                        </div>
                        <div class="banner-discout-tag">
                            <img src="{%HOME_BANNER_DISCOUNT_IMAGE%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>